
/* CSS for WELLE */

body {
    /* background: black; */
    font-family: 'Roboto', sans-serif;
    /* color: white; */
}

#textarea:focus, #input:focus{
    background-color: #ffffff;
    border: 2px solid black;
}
#textarea {
    /* background: black; */
    /* color: white; */
    outline: none;
    box-sizing: border-box;
    border: 0px solid black;
    border: 1px solid black;
    
    border-radius: 1px;
    border-color: #bfbfbf;	
    padding: 5px 2px;
    /* font-size: 0.8em; */
    width:100%;
    word-wrap: break-word;
}
#console {
    /* font-size: 0.9em; */
    word-wrap: break-word;
}
#consoleLine {
    /* color: white; */
    /* font-size: 0.9em; */
    margin-top: 0.02em;
    margin-bottom: 0.02em;
    width:97%;
    text-indent: -0.8em;
    margin-left: 0.8em;
}


input[type="checkbox"] {
    /* filter: invert(100%) hue-rotate(18deg) brightness(1.7); */
  }
input[type="checkbox"]:checked  {
    filter:  invert(100%) hue-rotate(202deg) brightness(1.5); 
    /*  */
}









 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}   padding-bottom: 0em;
    font-size: 0.8em;
    color: #bfbfbf;	
}
#help-overview {
    font-size: 0.8em;
    color: #bfbfbf;	
}
#help-container {
    padding-top: 0.2em;
    font-size: 0.8em;
    color: #bfbfbf;	
}
#info {
    padding-top: 1em;
    padding-bottom: 2em;
    margin: 0px;
    font-size: 0.8em;
    width: 100%;
    color: #bfbfbf;	
    background-color: black;
    text-align: left;
}
p {
    font-size: 0.8em;
    width: 100%;
    color: #bfbfbf;	
    background-color: black;
    text-align: left;
    padding-bottom: 0.5em;
}
usr {
    font-size: 1.2em;
}
h2 {
    font-size: 0.8em;
    color: white;	
}
div {
    margin: auto;
}
a {
    color:white; 
    text-decoration: none;
}
button {
    background: black;
    color: white;
    border-color: #444445;
}
table {
 /* font-family: arial, sans-serif;*/
  border-collapse: collapse;
  width: 100%;
  font-size: 0.8em;
  color: #bfbfbf;	
}
caption {
    text-align: left;
}
td, th {
  /*border: 1px solid #dddddd;*/
  text-align: left;
  padding: 1px;
  min-width: 30%;
}
tr:nth-child(even) {
 /* background-color: #dddddd;*/
}



 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div {
        width:95%;
    }
    #info {
        padding-top: 12em;
        padding-bottom: 2em;
    /*	position: fixed;
          bottom: 0px;*/
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div {
        width:85%;
    }
    #info {
        padding-top: 12em;
        padding-bottom: 2em;
    /*	position: fixed;
          bottom: 0px;*/
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div {
        width:65%;
    }
    #page-title {
        padding-top: 1em;
    }
    #info {
        padding-top: 1em;
        padding-bottom: 2em;
        position: fixed;
          bottom: 0px;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div {
        width:700px;
    }
    #page-title {
        padding-top: 1em;
    }
    #info {
        padding-top: 1em;
        padding-bottom: 2em;
        position: fixed;
          bottom: 0px;
    }
} 