/* CSS for WELLE */

body {
    /* background: black; */
    font-family: "Roboto", sans-serif;
    /* color: white; */
}

#mainInput:focus,
#input:focus {
    background-color: #ffffff;
    border: 2px solid black;
    font-weight: bold;
}

#mainInput {
    /* background: black; */
    /* color: white; */
    outline: none;
    box-sizing: border-box;
    border: 0px solid black;
    border: 1px solid black;
    border-radius: 1px;
    border-color: #bfbfbf;
    padding: 5px 2px;
    /* font-size: 0.8em; */
    width: 100%;
    word-wrap: break-word;
}

#console {
    /* font-size: 0.9em; */
    word-wrap: break-word;
}
#consoleField {
    margin-top: 15px;
    border: 1px solid rgb(112, 112, 112);
}

#consoleLine {
    /* color: white; */
    /* font-size: 0.9em; */
    margin-top: 0.02em;
    margin-bottom: 0.02em;
    width: 97%;
    text-indent: -0.8em;
    margin-left: 0.8em;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 0.2rem;
    /* color: #000; */
}

input[type="checkbox"]:checked {
    filter: invert(1) hue-rotate(210deg) brightness(2.5);
    /*  */
}

label {
    padding-left: 0.4rem;
    padding-right: 1rem;
}

.mainCenter {
    margin: auto;
    max-width: 800px;
    /* border: 3px solid green; */
    padding: 10px;
    padding-bottom: 200px !important;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
}
